<% provide(:title, 'Questions index') %>
<h1>単語マスタ</h1>
<div class="d-flex justify-content-center mb-2">
  <%= render "searches/form", revealtag: nil %>
</div>
<%= link_to "単語新規作成", new_question_path(@question) %>

<table border='1'>
  <tr>
    <th>id</th>
    <th>単語</th>
    <th>意味</th>
    <th>類義語</th>
    <th>タグ</th>
    <th>画像</th>
    <th>アクション</th>
  </tr>
  <tr>
  <% @questions.each do |question| %>
  <td><%= question.id %></td>
  <td><%= question.title %></td>
  <td><%= question.description %></td>
  <td><% question.question_similar_words.each do |question_similar_word| %>
  <%= question_similar_word.similar_word %>
  <% end %>
  </td> 
  <td><% question.tags.each do |tag| %>
    <%= tag.name %>
    <% end %>
  </td>  
  <td>
    <div class="img-container">
    <%= image_tag question.image if question.image.attached? %>
    </div>
  </td> 
  <td><% if question.user_id == current_user.id %>
  <%= link_to '編集', edit_question_path(question) %>・<%= link_to '削除', question, data: { "turbo-method": :delete }%>
  <% else %>
    作成者のみ
    <% end %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'CSVダウンロード', questions_path(format: :csv) %>
<div></div>
<%= link_to "メインメニュー", user_path(current_user) %>