<% provide(:title, 'Questions index') %>
<h1>単語マスタ</h1>
<%= link_to "単語新規作成", new_question_path(@question) %>

<table border='1'>
  <tr>
    <th>id</th>
    <th>単語</th>
    <th>意味</th>
    <th>類義語</th>
    <th>タグ</th>
    <th>アクション</th>
  </tr>
  <tr>
  <% @questions.each do |question| %>
  <td><%= question.id %></td>
  <td><%= question.title %></td>
  <td><%= question.description %></td>
  <td>
    <% question.tags.each do |tag| %>
    <%= tag.name %>
    <% end %>
    </td> 
  <td><% if question.tags %>
    <%= question.tag_ids %>
    <% end %>
  </td>
  <td><%= link_to '編集', edit_question_path(question) %>・<%= link_to '削除', question, data: { "turbo-method": :delete }%></td>
  </tr>
  <% end %>
</table>

<%= link_to "Main menu", user_path(current_user) %>