<% provide(:title, 'Questions new') %>
<h1>単語新規作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @question, data: {controller: "nested-fields"} do |f| %>
    

      <%= f.label :title, "単語" %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :description, "意味" %>
      <%= f.text_field :description, class: 'form-control' %>

      <h5><strong>タグを選択してください</strong></h5>
      <div class="tag-check-boxes">
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |cb| %>
      <label class="tag-checkbox">
        <%= cb.check_box %>
        <%= cb.text %>
      </label>
      <% end %>
      </div>

      <!--- 類義語の動的フォーム --->
      <div id="similar-words-wrapper">
      <%= f.fields_for :question_similar_words do |question_similar_word_form| %>
        <%= render 'question_similar_word_fields', f: question_similar_word_form %>
        <%#= render 'question_similar_word_fields', f: question_similar_word_form, locals: { f: question_similar_word_form } %>
      <% end %>
      <div class="my-2">
      <%#= link_to_add_association "類義語を追加", f, :question_similar_words %>
      <%= link_to_add_association "類義語を追加", f, :question_similar_words,
      data: {
        association_insertion_node: '#similar-words-wrapper',
        association_insertion_method: :append
      } %>

      </div></div>

      <div>
      <span class="image">
      <%= "画像を登録してください" %>
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
      </span>
      </div>

      <%= f.submit "作成", class: "btn btn-primary" %>
      <%= link_to "単語マスタ", questions_path %>
    <% end %>
  </div>
</div>