<h1>単語帳</h1>

<%= form_with url: start_session_flashcards_path, method: :post, local: true do %>
  <%= submit_tag "新しく単語帳を始める", class: "btn btn-primary mb-4" %>
<% end %>

<%= will_paginate @flashcards,
      previous_label: '前へ',
      next_label: '次へ' %>

<% if @flashcards.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>作成日</th>
        <th>点数</th>
        <th>操作</th>
        <th>デバッグ出力</th>
      </tr>
    </thead>
    <tbody>
      <% @flashcards.each do |flashcard| %>
      <% unanswered_exists = flashcard.flashcard_questions.any? { |fq| fq.user_answer.blank? } || 
        (flashcard.flashcard_questions.size == 10 && flashcard.flashcard_questions.all? { |fq| fq.user_answer.present? } && flashcard.correct_count.nil?) %>
        <tr>
          <td>ID: <%= flashcard.id %></td>
          <td><%= flashcard.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td>
          <% correct = flashcard.correct_count || 0 %>
          <%= "#{correct} / 10" %></td>
          <td>
            <%# if unanswered_exists %>
             <%#= link_to "続きから", resume_flashcard_path(flashcard), class: "btn btn-outline-primary btn-sm" %>
            <%# end %>
            <% if unanswered_exists %>
              <%= link_to "続きから", resume_flashcard_path(flashcard), class: "btn btn-outline-primary btn-sm" %>
            <% end %>
            <% if unanswered_exists && flashcard.correct_count.nil? %>
              <%= link_to "採点前画面へ", result_session_flashcards_path, class: "btn btn-outline-secondary btn-sm" %>
            <% end %>

            <% if flashcard.correct_count.present? %>
             <%= link_to "回答を見る", result_flashcard_path(flashcard), class: "btn btn-outline-success btn-sm" %>
            <% end %>

            <%= button_to "もう一度やる", reset_flashcard_path(flashcard), method: :post, class: "btn btn-outline-warning btn-sm" %>
          </td>
          <td>
              <%#= "全回答済み: #{all_answered}" %>
              <%#= "未回答あり: #{unanswered_exists}" %>
              <%#= "採点前: #{is_not_graded}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>まだ単語帳セッションはありません。</p>
<% end %>

<%= link_to "メインメニュー", user_path(current_user) %>