<% provide(:title, 'Flashcards index') %>
<h1>単語帳</h1>
<%= link_to "新しく単語帳を始める", new_path %>
<div><%= link_to "続きから", '#' %></div>
<div><%= link_to "もう一度やる", '#' %></div>
<div><%= link_to "回答を見る", '#' %></div>
<%= link_to "Main menu", user_path(current_user) %>