<h1>単語帳</h1>

<%= form_with url: start_session_flashcards_path, method: :post, local: true do %>
  <%= submit_tag "新しく単語帳を始める", class: "btn btn-primary mb-4" %>
<% end %>

<%= will_paginate @flashcards_raw,
      previous_label: '前へ',
      next_label: '次へ' %>

<% if @flashcards.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>作成日</th>
        <th>点数</th>
        <th>操作</th>
        <th>デバッグ出力</th>
      </tr>
    </thead>
    <tbody>
      <% @flashcards.each do |fc| %>
      <% flashcard = fc[:flashcard] %>
      <% answered_count = fc[:answered_count] %>
      <% graded = fc[:graded] %>
      <% all_answered = flashcard.flashcard_questions.all? { |fq| fq.user_answer.present? } %>
      <% answered_count = flashcard.flashcard_questions.count { |fq| fq.user_answer.present? } %>
      <% is_not_graded = all_answered && flashcard.correct_count.nil? %>
      <% unanswered_exists = answered_count < 10 && !is_not_graded %>

      <% is_answered_10 = fc[:answered_count] == 10 %>
<% is_graded = fc[:graded] %>
<% has_unanswered = fc[:answered_count] < 10 %>

        <tr>
          <td>ID: <%= flashcard.id %></td>
          <td><%= flashcard.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          <td>
          <% correct = flashcard.correct_count || 0 %>
          <%= "#{correct} / 10" %></td>
          <td>
          <% if unanswered_exists %>
            <%= link_to "続きから", resume_flashcard_path(flashcard), class: "btn btn-outline-primary btn-sm" %>
          <% elsif is_not_graded %>
            <%= link_to "採点前画面へ", result_session_flashcards_path(flashcard_id: flashcard.id), method: :get %>
          <% end %>

            <% if flashcard.correct_count.present? %>
             <%= link_to "回答を見る", result_flashcard_path(flashcard), class: "btn btn-outline-success btn-sm" %>
            <% end %>

            <%= button_to "もう一度やる", reset_flashcard_path(flashcard), method: :post, class: "btn btn-outline-warning btn-sm" %>
          </td>
          <td>
              <ul style="list-style: none; padding-left: 0;">
    <li>10回答済み: <%= is_answered_10 %></li>
    <li>採点済み: <%= is_graded %></li>
    <li>未回答あり: <%= has_unanswered %></li>
  </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>まだ単語帳セッションはありません。</p>
<% end %>

<%= link_to "メインメニュー", user_path(current_user) %>