<h2>採点結果</h2>

<p>正解数: <strong><%= @correct_count %></strong> / <%= @question_ids.size %></p>


<table class="table">
  <thead>
    <tr>
      <th>単語</th>
      <!--<th>意味</th>-->
      <th>回答</th>
      <th>正解・不正解</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each_with_index do |r, i| %>
      <tr>
        <td><%= link_to r[:question].title, question_session_flashcards_path(index: i), class: "text-primary" %>の意味は？</td>
        <!--<td><%= r[:correct] %></td>-->
        <td><%= r[:your_answer] || "未回答" %></td>
        <td class="grading-column" style="display: none;">
          <% if r[:correct_answered] %>
            正解
          <% else %>
            不正解
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<button id="show-grading-btn" class="btn btn-success">採点する</button>
<%= link_to "単語帳へ戻る", flashcards_path %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const button = document.getElementById("show-grading-btn");
    const gradingColumns = document.querySelectorAll(".grading-column");

    button.addEventListener("click", function() {
      gradingColumns.forEach(function(el) {
        el.style.display = "";
      });
      button.style.display = "none";
    });
  });
</script>
