<h2>解答用紙</h2>

<table class="table">
  <thead>
    <tr>
      <th>単語</th>
      <th>回答</th>
    </tr>
  </thead>
  <tbody>
  <% @questions.each_with_index do |question, i| %>
    <tr>
      <td>
        <%= link_to question.title, question_session_flashcards_path(index: i), class: "text-primary" %>の意味は？
      </td>
      <td>
        <%= @user_answers[i].present? ? @user_answers[i] : "未回答" %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<%= form_with url: finalize_session_flashcards_path, method: :post do %>
  <%= submit_tag '採点する', class: "btn btn-primary" %>
<% end %>
<%= button_to "中断する", interrupt_flashcards_path, method: :post, class: "btn btn-danger mt-4" %>

