<h2>単語帳</h2>

<p>正解数: <strong><%= @correct_count %></strong> / <%= @total_count %></p>

<table class="table">
  <thead>
    <tr>
      <th>単語</th>
      <th>意味</th>
      <th>回答</th>
      <th>正解・不正解</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |r| %>
      <tr>
        <td><%= r[:question].title %>の意味は？</td> 
        <td><%= r[:correct_answer] %></td>
        <td><%= r[:user_answer].presence || "未回答" %></td>
        <td>
          <% if r[:correct_answered] %>
            <span class="text-success">正解</span>
          <% else %>
            <span class="text-danger">不正解</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--条件分岐でsession_result経由でこのページに遷移した場合にのみ表示-->
<% if params[:from_session] %>
<%= link_to "ランキングを見る", ranking_flashcards_path(from_result: true) %>
<% end %>

<%= link_to "単語帳へ戻る", flashcards_path, class: "btn btn-outline-primary mt-3" %>
