<% provide(:title, @user.name) %>
<div class="row">
    <section class="user_info">
      <h1>
        メインメニュー 
      </h1>
      <h4>現在ログイン中のユーザー： <%= @user.name %></h4>
    </section>
    <div>
      <h5>下記のメニューよりクリックしてください。</h5>
  <ul>
    <li><%= link_to "単語タグマスタ", tags_path %></li>
    <li><%= link_to "単語マスタ", questions_path %></li>
    <li><%= link_to "単語帳", flashcards_path %></li>
    <li><%= link_to "ランキング", ranking_flashcards_path %></li>
  </ul>
  </div>
</div>
<%= link_to "ログアウト", logout_path,
                                       data: { "turbo-method": :delete } %>
<%#= link_to "ログアウト", logout_path, method :delete %>

