<% if @model == 'question' %>
  <h3>検索ワード: <%= @content %></h3>
  <%= render 'searches/index', questions: @records %>
<% elsif @model == 'question_similar_word' %>
  <h3>検索ワード: <%= @content %></h3>
    <%= render 'searches/index', question_similar_words: @records %>
<% else %>
 <h3>検索ワード: <%= @content %></h3>
    <%= render 'searches/index', tags: @records %>
<% end %>